<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <form id="passwordForm" role="form" th:object="${userInfo}" method="post">
        <div class="form-group">
            <input type="hidden" name="userId" th:value="${userId}">
            <label th:for="password">현재 비밀번호 : <span id="changePassword" th:text="${password}"></span><br><br>변경하실 비밀번호</label>
            <input type="text" id="password" name="password" th:field="*{password}" class="form-control" placeholder="변경하실 비밀번호를 입력하세요">
            <p id="passwordErrorMessage"></p>
            <input type="button" id="aButton" class="btn btn-primary" value="비밀번호 변경" onclick="updatePassword()"><br><br>
        </div>
    </form>
    <form id="nicknameForm" role="form" th:object="${userInfo}" method="post">
        <div class="form-group">
            <input type="hidden" name="userId" th:value="${userId}">
            <label th:for="nickname">현재 닉네임 : <span id="changeNickname" th:text="${nickname}"></span><br><br>변경하실 닉네임</label>
            <input type="text" th:field="*{nickname}" class="form-control" placeholder="변경하실 닉네임을 입력하세요">
            <p id="nicknameErrorMessage"></p>
            <input type="button" id="bButton" class="btn btn-primary" value="닉네임 변경" onclick="updateNickname()"><br>
        </div>
    </form>
    <br/>
    <a class="btn btn-lg btn-primary" href="/my-page">마이 페이지</a>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>

<script src="/js/changeUserForm.js" th:inline="javascript"></script>
</html>
