<div id="commentDiv">
    <div th:each="comment : ${commentInfo}">
        <text> 댓글 작성자 : <span th:text="${comment.memberNickname}"></span></text>
        <text> 댓글 작성시간 : <span th:text="${comment.regDate}"></span></text><br>
        <text th:text="${comment.commentContent}"></text>
        <div th:if="${comment.memberId == userId}">
            <button class="btn btn-secondary" th:data-name="${comment.commentId}" th:onclick="deleteComment([[${comment.commentId}]])">댓글 삭제</button><br>
        </div>
    </div>
</div>
