<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div class="jumbotron">
        <h1>온라인 게임북 사이트</h1>
        <p>
        <div style="font-size: 0; text-align: center;">
            <div style="display: inline-block; margin-right: 10px">
                <a class="btn btn-lg btn-primary" href="/my-page">마이 페이지</a>
            </div>
            <div style="display: inline-block">
                <form method="post" action="/logout"><button type="submit" class="btn btn-lg btn-primary">로그 아웃</button></form>
            </div>
        </div>
        <div style="clear:both;"></div>
        </p>
        <p>
            <a class="btn btn-lg btn-info" href="/search-page">검색</a>
            <a class="btn btn-lg btn-info" href="/ranking">랭킹 순 조회</a>
            <a class="btn btn-lg btn-info" href="/making/new">게임북 제작</a>
        </p>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

</body>
</html>
