<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div>
        <div>
            <form method="get" action="/search-result" th:object="${searchForm}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{searchName}" class="form-control" placeholder="검색어를 입력하세요"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{searchType}" class="form-control">
                        <option value="gbName">게임북명</option>
                        <option value="makerName">제작자명</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <div th:each="find : ${findResult}">
            <a th:href="@{/main-page/{gbNum}(gbNum=${find.gbNum})}">
                <img th:src="|/images/${find.thumbnailPath}|" width="100" height="100">
                <text>No.<span th:text="${find.gbNum}"></span></text>
                <text>게임 제목 : <span th:text="${find.title}"></span></text>
                <text>게임 제작자 : <span th:text="${find.nickname}"></span></text>
                <text>댓글 <span th:text="${find.commentCount}"></span> 개</text>
                <text>좋아요 <span th:text="${find.likeNum}"></span> 개</text>
            </a>
        </div>

    </div>


    <a class="btn btn-lg btn-primary" href="/">메인 화면</a>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>
