<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div th:object="${gamebookInfo}">
        <img th:src="|/images/*{thumbnailPath}|" width="100" height="100">
        <text>No.<span th:text="*{gbNum}"></span></text>
        <text>게임 제목 : <span th:text="*{title}"></span></text>
        <text>제작자 : <span th:text="*{makerNickname}"></span></text>
        <text>제작일 : <span th:text="*{gbDate}"></span></text>
        <text>최근 수정일 :
            <span th:if="*{chDate == null}" th:text="*{gbDate}"></span>
            <span th:if="*{chDate != null}" th:text="*{chDate}"></span>
        </text>
        <text>공개 설정 :
            <span th:if="*{isPublic == 1}">공개 </span>
            <span th:if="*{isPublic == 0}">비공개 </span>
        </text>
    </div>

    <text>댓글 <span id="commentCount" th:text="${gamebookInfo.commentNum}"></span> 개</text>
    <text>좋아요 <span id="likeCount" th:text="${gamebookInfo.likeNum}"></span> 개</text><br>
    <div id="commentDiv">
        <div th:each="comment : ${commentInfo}">
            <text> 댓글 작성자 : <span th:text="${comment.memberNickname}"></span></text>
            <text> 댓글 작성시간 : <span th:text="${comment.regDate}"></span></text><br>
            <text th:text="${comment.commentContent}"></text>
            <div th:if="${comment.memberId == userId}">
                <button class="btn btn-secondary" th:data-name="${comment.commentId}" th:onclick="deleteComment([[${comment.commentId}]])">댓글 삭제</button><br>
            </div>
        </div>
    </div>
    <form id="commentForm" role="form">
        <input type="text" id="commentContent" name="commentContent" placeholder="댓글을 입력하세요">
        <input type="hidden" id="commentUserId" name="commentUserId" th:value="${userId}">
        <input type="hidden" name="gbNum" th:value="${gamebookInfo.gbNum}">
    </form>
    <input type="button" id="commentInputButton" class="btn btn-primary" value="댓글 등록" onclick="inputComment()"><br>

    <form id="likeForm" role="form">
        <input type="hidden" name="gbNum" th:value="${gamebookInfo.gbNum}">
    </form>
    <div th:unless="${ifLike}">
        <input type="button" id="likeButton" class="btn btn-primary" value="좋아요" onclick="doLike()"><br>
    </div>
    <div th:if="${ifLike}">
        <input type="button" id="unLikeButton" class="btn btn-primary" value="좋아요 취소" onclick="doUnLike()"><br>
    </div>


    <a class="btn btn-lg btn-primary" th:href="@{/first-page/{gbNum}(gbNum=${gamebookInfo.gbNum})}">플레이</a>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>

<script th:inline="javascript">
    function deleteComment(getId) {
        let gbNum = [[${gamebookInfo.gbNum}]];

        $.ajax({
            type: "DELETE",
            url: "/comment/" + gbNum + "/" + getId,
            dataType: "html",
        })
            .done(function (result) {
                if (result) {
                    $("#commentDiv").replaceWith(result);
                    let text = $("#commentCount").text();
                    text = parseInt(text);
                    $("#commentCount").text(text - 1);
                }
            })
            .fail(function (jqXHR) {
                console.log(jqXHR);
            })
            .always(function () {
            })
    }

    function inputComment() {
        $.ajax({
            type: "POST",
            url: "/comment",
            data: $("#commentForm").serialize(),
            dataType: "html",
        })
            .done(function (result) {
                $("#commentDiv").replaceWith(result);
                let text = $("#commentCount").text();
                text = parseInt(text);
                $("#commentCount").text(text + 1);
                $("#commentContent").val('');
            })
            .fail(function (jqXHR) {
                console.log(jqXHR);
            })
            .always(function () {
            })
    }

    function doLike() {
        $.ajax({
            type: "POST",
            url: "/like",
            data: $("#likeForm").serialize(),
        })
            .done(function (result) {
                $("#likeCount").text(result.likeNum);
                $("#likeButton").attr('value', '좋아요 취소');
                $("#likeButton").attr('onclick', 'doUnLike()');
                $("#likeButton").attr('id', 'unLikeButton');

            })
            .fail(function (jqXHR) {
                console.log(jqXHR);
            })
            .always(function () {
            })
    }

    function doUnLike() {
        $.ajax({
            type: "DELETE",
            url: "/like",
            data: $("#likeForm").serialize(),
        })
            .done(function (result) {
                $("#likeCount").text(result.likeNum);
                $("#unLikeButton").attr('value', '좋아요');
                $("#unLikeButton").attr('onclick', 'doLike()');
                $("#unLikeButton").attr('id', 'likeButton');

            })
            .fail(function (jqXHR) {
                console.log(jqXHR);
            })
            .always(function () {
            })
    }

</script>
</html>
