<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <form id="picForm" role="form" enctype="multipart/form-data" th:object="${pageForm}">
        <div class="form-group">
            <p>썸네일 사진을 등록하세요</p><br>
            <img id="pagePic" th:src="|/images/${pageForm.picPath}|" width="100" height="100"><br>
            <input id="picture" name="picture" type="file" th:field="*{file}"><br>
            <input type="button" id="pButton" class="btn btn-primary" value="사진 저장" onclick="savePic()"><br>
            <text id="pageContent" th:text="*{content}">내용 없음</text><br><br>
            <label th:for="content">내용을 입력하세요</label>
            <input id="content" name="content" type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"
                   th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect date</p>
            <input type="hidden" name="pageId" th:value="${pageId}">
        </div>
    </form>
    <input type="button" id="aButton" class="btn btn-primary" value="내용 저장" onclick="saveCon()"><br>
    <br/>
    <form id="firstForm" role="form" th:object="${pageForm}">
        <label for="firstChoice">첫번째 선택지 : <span id="firstChoiceNum" th:text="${nextFNum}"></span></label>
        <select class="form-control" id="firstChoice" th:field="${pageForm.nextF}">
            <option value="-1">선택지 삭제</option>
            <option value="0">메인 페이지로</option>
            <option th:each="page : ${pageList}" th:value="${page.pageId}" th:text="${page.pageNum}"></option>
        </select>
        <label for="firstContent">첫번째 선택지 내용 : <span id="firstChoiceCon" th:text="${pageForm.firstContent}"></span></label>
        <input id="firstContent" type="text" th:field="*{firstContent}" class="form-control" placeholder="첫번째 선택지 내용"><br>
        <input type="hidden" name="pageId" th:value="${pageId}">
    </form>
    <input type="button" id="firstButton" class="btn btn-primary" value="첫번째 선택지 저장" onclick="saveFirstChoice()"><br>

    <form id="secondForm" role="form" th:object="${pageForm}">
        <label for="secondChoice">두번째 선택지 : <span id="secondChoiceNum" th:text="${nextSNum}"></span></label>
        <select class="form-control" id="secondChoice" th:field="${pageForm.nextS}">
            <option value="-1">선택지 삭제</option>
            <option value="0">메인 페이지로</option>
            <option th:each="page : ${pageList}" th:value="${page.pageId}" th:text="${page.pageNum}"></option>
        </select>
        <label for="secondContent">두번째 선택지 내용 : <span id="secondChoiceCon" th:text="${pageForm.secondContent}"></span></label>
        <input id="secondContent" type="text" th:field="*{secondContent}" class="form-control" placeholder="두번째 선택지 내용"><br>
        <input type="hidden" name="pageId" th:value="${pageId}">
    </form>
    <input type="button" id="secondButton" class="btn btn-primary" value="두번째 선택지 저장" onclick="saveSecondChoice()"><br>


    <form id="thirdForm" role="form" th:object="${pageForm}">
        <label for="thirdChoice">세번째 선택지 : <span id="thirdChoiceNum" th:text="${nextTNum}"></span></label>
        <select class="form-control" id="thirdChoice" th:field="${pageForm.nextT}">
            <option value="-1">선택지 삭제</option>
            <option value="0">메인 페이지로</option>
            <option th:each="page : ${pageList}" th:value="${page.pageId}" th:text="${page.pageNum}"></option>
        </select>
        <label for="thirdContent">세번째 선택지 내용 : <span id="thirdChoiceCon" th:text="${pageForm.thirdContent}"></span></label>
        <input id="thirdContent" type="text" th:field="*{thirdContent}" class="form-control" placeholder="세번째 선택지 내용"><br>
        <input type="hidden" name="pageId" th:value="${pageId}">
    </form>
    <input type="button" id="thirdButton" class="btn btn-primary" value="세번째 선택지 저장" onclick="saveThirdChoice()"><br>


    <a class="btn btn-lg btn-primary" th:href="@{/{gbNum}/list(gbNum=${gbNum})}">페이지 목록 보기</a>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>

<script src="/js/newPageFormFunction.js">
</script>

</html>
