<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <form id="picForm" role="form" enctype="multipart/form-data" th:object="${pageForm}">
        <div class="form-group">
            <p>썸네일 사진을 등록하세요</p><br>
            <img id="pagePic" th:src="|/images/${pageForm.picPath}|" width="100" height="100"><br>
            <input id="picture" name="picture" type="file" th:field="*{file}"><br>
            <input type="button" id="pButton" class="btn btn-primary" value="사진 저장" onclick="savePic()"><br>
            <text id="pageContent" th:text="*{content}">내용 없음</text><br><br>
            <label th:for="content">내용을 입력하세요</label>
            <input id="content" name="content" type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"
                   th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect date</p>
            <input type="hidden" name="pageId" th:value="${pageId}">
        </div>
    </form>
    <input type="button" id="aButton" class="btn btn-primary" value="내용 저장" onclick="saveCon()">
    <br/>
    <a class="btn btn-lg btn-primary" th:href="@{/{gbNum}/list(gbNum=${gbNum})}">페이지 목록 보기</a>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>

<script th:inline="javascript">
    function savePic() {

        let picForm = $("form")[0];
        let formData = new FormData(picForm);
        $.ajax({
            type: "POST",
            url: "/page/update-pic",
            data: formData,
            processData: false,
            contentType: false
        })
            .done(function (result) {
                console.log(result.filePath);
                if (!result) {
                    alert(".jpg 또는 .png 확장자의 이미지 파일을 입력하세요");
                } else {
                    $("#pagePic").attr("src", "/images/" + result.filePath);
                }
            })
            .fail(function (jqXHR) {
                console.log(jqXHR);
            })
            .always(function () {
            })
    }

    function saveCon() {
        let form = $("form")[0];
        let formData = new FormData(form);
        $.ajax({
            type: "POST",
            url: "/page/update-con",
            data: formData,
            processData: false,
            contentType: false
        })
            .done(function (result) {
                console.log(result.content);
                $("#pageContent").text(result.content);
            })
            .fail(function (jqXHR) {
                console.log(jqXHR);
            })
            .always(function () {
            })
    }

</script>

</html>
