<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div th:each="page : ${findPages}">
        <img th:src="${page.picPath}">
        <text th:text="${page.pageNum}"></text>
    </div>
    <form method="post" th:action="@{/{gbNum}/newPage(gbNum=${gbNum})}"><button type="submit" class="btn btn-lg btn-primary">새 페이지 만들기</button></form>

    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>
